<div class="button-container nav-pills">
  <button
    class="btn btn-danger"
    [routerLink]="['/']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home
  </button>
  <button
    class="btn btn-danger"
    [routerLink]="['/about']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    About
  </button>
  <button
    class="btn btn-danger"
    [routerLink]="['/feedback']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Feedback
  </button>
</div>
