<nav class="navbar-glass">
  <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <i class="material-icons">home</i>
    <span>Home</span>
  </a>

  <a class="nav-link" [routerLink]="['/studio']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <i class="material-icons">translate</i>
    <span>Translator Studio</span>
  </a>

  <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <i class="material-icons">person</i>
    <span>About</span>
  </a>

  <a class="nav-link btn-external" href="javascript:void(0)" (click)="navigateToPdfPwdRmv()">
    <i class="material-icons">security</i>
    <span>PDF Tool</span>
  </a>

  <a class="nav-link" [routerLink]="['/feedback']" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
    <i class="material-icons">chat_bubble</i>
    <span>Feedback</span>
  </a>
</nav>