<h1 class="text-center">Demo of i18n | internationalization </h1>
<div class="px-4 py-4">
  <h3 class="pt-4 fs-16 m-0" i18n="@@welcomeMessage">
    Welcome to my i18n demonstration page! Here, we're showcasing the power of
    internationalization (i18n) – a crucial aspect of modern applications that
    enables them to adapt and cater to diverse audiences around the world.
  </h3>
  <h3 class="pt-3 fs-16 m-0" i18n="@@navigateMessage">
    As you navigate through this page, you'll notice that the content seamlessly
    transforms to match different languages and locales. This means that whether
    you're reading this in English, Spanish, French, or any other language, the
    message remains clear and accessible.
  </h3>
  <h3 class="pt-3 fs-16 m-0" i18n="@@beyondTranslationMessage">
    i18n goes beyond just translating words; it encompasses date formats,
    currencies, and even cultural nuances, ensuring that users feel at home no
    matter where they're from. This is achieved through a combination of smart
    coding practices and localization efforts, which make applications like this
    truly global.
  </h3>
  <h3 class="pt-3 fs-16 m-0" i18n="@@languageSelectorMessage">
    Feel free to switch between languages using the language selector at the top
    of the page. Watch as the content instantly adapts, showcasing the magic of
    i18n. This technology has revolutionized how applications connect with users
    worldwide, and we're excited to share this demonstration with you.
  </h3>
  <h3 class="pt-3 fs-16 m-0 pb-2" i18n="@@thankYouMessage">
    Thank you for being a part of this journey into the world of i18n. Your
    seamless experience across languages starts right here, right now.
  </h3>
</div>
