<h1 class="text-center" i18n="@@authorHeading">Author</h1>
<div class="image-container">
  <img
    src="assets/images/author-profile.webp"
    alt="Author-Profile"
    class="circular-image"
  />
</div>
<div class="pt-3">
  <h1 i18n="@@aboutMeHeading">About Me</h1>
  <h3 i18n="@@aboutMeContent">
    Hello there! I'm Sai Krishna Annam, a passionate Full Stack developer who
    thrives on bringing ideas to life through code. With a knack for
    problem-solving and a love for crafting seamless digital experiences, I'm
    always on the lookout for the next exciting challenge in the world of web
    development.
  </h3>
</div>
<div class="pt-3">
  <h1 i18n="@@journeyHeading">My Journey</h1>
  <h3 i18n="@@journeyContent1">
    My journey into the world of programming began with an unexpected twist.
    Graduating in Mechanical Engineering, I was far from familiar with coding.
    However, my strong affinity for technology and my knack for making the most
    out of a PC ignited a spark within me. It was this very interest that
    motivated me to embark on a new adventure: learning to code.
  </h3>
  <h3 i18n="@@journeyContent2" class="pt-2">
    Starting from scratch, I dabbled with HTML and CSS during those initial
    days. The world of tags and styling felt like a whole new language, but I
    was determined to decode it. As my proficiency grew, I transitioned to
    exploring the intricacies of back-end development. Each line of code I typed
    was a stepping stone towards becoming a versatile Full Stack developer.
  </h3>
  <h3 i18n="@@journeyContent3" class="pt-2">
    Throughout this journey, I've had the privilege of collaborating with
    exceptionally talented individuals and dynamic teams. These experiences have
    not only honed my technical skills but have also added layers of depth to my
    expertise. I've come to realize that coding isn't just about syntax and
    algorithms; it's about creatively solving problems and building digital
    experiences that leave a mark.
  </h3>
  <h3 i18n="@@journeyContent4"class="pt-2">
    From a Mechanical Engineering graduate to a Full Stack developer, my journey
    has been an incredible ride full of challenges, triumphs, and a constant
    thirst for knowledge. I'm excited to continue this ever-evolving adventure,
    leveraging my unique background to bring innovative solutions to life.
  </h3>
  <h3 i18n="@@journeyContent5" class="pt-2">
    Remember, it's never about where you start, but the determination and
    passion that drive you forward. My story is a testament to the fact that
    unexpected interests can lead to extraordinary paths.
  </h3>
  <h3 i18n="@@journeyContent6"class="pt-2">
    Stay curious, keep coding, and let's shape the future one line of code at a
    time.
  </h3>
</div>
<div class="pt-3">
  <h1 i18n="@@connectHeading">Connect with Me</h1>
  <h3 i18n="@@connectHeadingContent">
    If you're curious about my work and the projects I've had the pleasure of
    contributing to, feel free to explore my portfolio and GitHub repositories.
    You can also connect with me on my social media accounts:
  </h3>
  <h3>
    <a
      href="https://linktr.ee/MR_ASK_Chay"
      target="_blank"
      i18n="@@linktreeLink"
      >Linktree - MR_ASK_Chay</a
    >
  </h3>
</div>
<div class="pt-3">
  <h3 i18n="@@Thanking">
    Thank you for stopping by and getting to know me better. Let's embark on
    this journey of innovation and growth together!
  </h3>
  <h3 class="pt-2 m=0" i18n="@@stayCuriousMessage">
    Stay curious, stay creative, and keep coding!
  </h3>

  <h3 class="pt-2 m-0" i18n="@@warmRegards">Warm regards,</h3>

  <h3 i18n="@@yourName">Sai Krishna Annam</h3>
</div>
