<div class="bg-container">
<app-navbar></app-navbar>
  <div class="content-rectangle">
    <div class="language-button-container px-4">
      <button mat-button [matMenuTriggerFor]="menu">
        {{ siteLanguage }}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item href="/en">English</a>
        <a mat-menu-item href="/nl">Dutch</a>
        <a mat-menu-item href="/sr">Serbian</a>
      </mat-menu>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div>
  <div>
    <footer>&copy; {{ currentYear }} Developed by Sai Krishna Annam</footer>
  </div>
  </div>
</div>
